body {
    background-color: #e6e6e2;
}

.navbar{
    margin-top: 10px;
}
.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.panel-heading span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }


#myModal .modal-dialog  {width:70%;}

h1{font-size: 28px;}
h2{font-size: 26px;}
h3{font-size: 22px;}
h3, h4, h5, h6 {
    color: rgba(23, 46, 23, 0.71);
}

hr.cv {
    height: 2px;
    border: 0;
    box-shadow: 0 10px 10px -10px #959595 inset;
}


.post-content img{
    width:340px;
    height: auto;
}

.caption{
    text-align: center;
}

.caption h3{
    display:inline;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #7d7d84;
    border-color: #E6E6E2;
}
.pagination>li>a, .pagination>li>span {
    color: #7D7D84;
}

p.contact_me {
    max-width: 500px;
    margin: 0 auto;
}

ul.social-icons {
    padding-top: 60px;
    max-width: 300px; /* for  below IE7 use `width: 660px;` */
    margin: 0 auto;
}
ul.social-icons li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

.site-footer {
    display: block;
    background-color: #f2f2f2;
    border-top: 1px solid rgba(222,222,222,0.5);
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}
.site-footer p {
    font-size: 15px;
    letter-spacing: -.3px;
    color: #828282;
}
.footer-heading {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -.5px;
    margin-bottom: 15px;
}


