<header>
  {% assign pages = site.pages | sort:"weight"  %}
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav" >
      {% for page in pages %}
        {% if page.title  %}
          {% unless page.url contains 'projets/page'%}
            <li class="nav-item">
              <a class="glyphicon glyphicon-{{page.icon}}"
                  href="{{ page.url | prepend: site.baseurl }}">
                <span class="glyphicon-class glyph-font">{{ page.title }}</span>
              </a>
            </li>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
