---
layout: page
title: Projets
icon: list
weight : 3
---

<div class="row">
{% assign idx = 0 %}
{% for post in paginator.posts %}
    {% if idx == 3 %}
        {% assign idx = 0 %}
            </div>
            <div class="row">
    {% endif %}
    <div class="col-sm-4">
        <a href="{{ post.url }}" class="thumbnail">
            <div class="caption">
                <h4> <span class="label label-default">{{post.title}}</span></h4>
            </div>
            <img src="{{ post.thumbnail }}" alt="...">
        </a>
    </div>
    {% assign idx = idx | plus: 1 %}
{% endfor %}
</div>

<div class="text-center">
    <ul class="pagination pagination-lg">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <li><a href="{{ paginator.previous_page_path }}">&laquo;</a></li>
    {% else %}
      <li><a href="{{ paginator.previous_page_path }}">&laquo;</a></li>
    {% endif %}
    {% else %}
     <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}

    {% capture start %}{{ paginator.page | minus:3 }}{% endcapture %}
    {% capture end %}{{ paginator.page | plus:3 }}{% endcapture %}

    {% for count in (start..end) %}
     {% if count > 0 and count <= paginator.total_pages %}
       {% if count == paginator.page %}
           <li class="active"><a href="#">{{count}}</a></li>
       {% else %}
         {% if count == 1 %}
           <li><a href="/projets/">1</a></li>
         {% else %}
           <li>
               <a href="{{ site.paginate_path | replace: ':num', count }}">
                   {{count}}
               </a>
           </li>
         {% endif %}
       {% endif %}
     {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
     <li><a href="{{ paginator.next_page_path }}">&raquo;</a></li>
    {% else %}
     <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
    </ul>
</div>








